<?xml version='1.0' encoding='utf-8'?>  
  <configuration>  
    <connectionStrings>  
      <clear />  
      <add name="myConnectionString"   
       providerName="System.Data.ProviderName"   
       connectionString="Data Source=localhost;Initial Catalog=ingAnalytics;Integrated Security=True" />  
    </connectionStrings>  
  </configuration>  